.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.logo {
  margin-left: 5rem;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .mobile {
    display: block;
    width: 500px;
    margin-bottom: 1rem;
  }
  .logo {
    margin-left: 2rem;
  }
}

@media (max-width: 480px) {
  .logo {
    margin-left: 1rem;
    img {
      width: 70px;
    }
  }
}
