.details-main {
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3rem;
  height: 100vh;
  width: 40%;
  backdrop-filter: blur(8px);
  background-color: rgb(255, 255, 255, 5%);
  border-left: 5px solid rgb(255, 255, 255, 20%);

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.details {
  margin-top: 100px;
  margin-left: 3rem;
}

.header {
  color: #ffffff97;
  text-align: start;
  font-size: 18px;
  margin-bottom: 2rem;
}

.details-content {
  height: 350px;
  width: 90%;

  .content-title {
    color: white;
    font-weight: medium;
    font-size: 18px;
    margin: 1.5rem;
  }

  .info {
    font-size: 18px;
    color: #ffffff70;
    margin: 1.5rem;
  }
}

.details-forecast {
  height: 100%;
  width: 90%;

  &:last-child {
    margin-bottom: 3rem;
  }

  .forecast-title {
    color: white;
    font-weight: medium;
    font-size: 18px;
    margin: 1.5rem;
    margin-bottom: 2rem;
  }

  .forecast {
    color: white;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .forecast-box {
      width: 110px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .time,
      .weather-condition {
        display: block;
      }
    }
    .details-temp {
      font-size: 24px;
      color: #ffffff70;
    }
  }
}

.loading {
  text-align: center;
  margin: auto;
  font-size: 2rem;
  color: white;
}

@media (max-width: 1024px) {
  .details-main {
    position: initial;
    width: 100%;
    height: 55vh;
    padding-left: 0;

    .search {
      display: none;
    }

    .details {
      margin: 0;
    }

    .header {
      width: 100%;
      text-align: center;
    }

    .details-content {
      width: 100%;
      text-align: center;
    }
  }
  .line {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .details-content {
    .content-title,
    .info {
      font-size: 1rem;
    }
  }
  .details-forecast {
    .forecast-title {
      font-size: 1rem;
    }
    .forecast {
      .details-temp {
        font-size: 1rem;
      }
    }
  }
}
